@import "../dist/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css";
@import "../dist/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css";
/*===========================================*/
//fonts Beauty
@font-face {
  font-family: 'Beauty';
  src: url('../../fonts/Beauty/Beauty.woff2') format('woff2'),
  url('../../fonts/Beauty/Beauty.woff') format('woff'),
  url('../../fonts/Beauty/Beauty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//fonts MinionPro-Regular
@font-face {
  font-family: MinionPro-Regular;
  src: url('../../fonts/MinionPro/MinionPro-Regular.woff2') format('woff2'),
  url('../../fonts/MinionPro/MinionPro-Regular.woff') format('woff'),
  url('../../fonts/MinionPro/MinionPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//fonts MinionPro-Bold
@font-face {
  font-family: MinionPro-Bold;
  src: url('../../fonts/MinionPro/MinionPro-Bold.woff2') format('woff2'),
  url('../../fonts/MinionPro/MinionPro-Bold.woff') format('woff'),
  url('../../fonts/MinionPro/MinionPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

//fonts TwCenMTStd
@font-face {
  font-family: 'TwCenClassMTStd-Regular';
  src: url('../../fonts/TwCenMTStd/TwCenClassMTStd-Regular.woff2') format('woff2'),
  url('../../fonts/TwCenMTStd/TwCenClassMTStd-Regular.woff') format('woff'),
  url('../../fonts/TwCenMTStd/TwCenClassMTStd-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

i {
  font-family: MinionPro-Regular, serif;
  font-style: normal;
}

body {
  font-family: MinionPro-Regular, Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
  font-size: 1.5em;
}

.main {
  min-height: calc(100vh - 21px);
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1 {
  font-weight: 600;
  color: #020202;
  font: 24px MinionPro-Regular, sans-serif;
}

body > .main {
  z-index: 3;
  position: relative;
  width: 100%;
  background: repeating-linear-gradient(90deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05) 1px, transparent 1px, transparent 20%);
  background: -moz-repeating-linear-gradient(to right, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1) 1px, transparent 2px, transparent 20%);
}

input[type=text], select {
  border: none;
  border-bottom: 3px solid;
  border-radius: 0;
  box-shadow: none;
}

textarea {
  border-radius: 0;
}

form .btn {
  border-radius: 0;
  -webkit-box-shadow: none;
  padding: 8px 40px;
}

a.contact {
  color: initial;
  text-decoration: underline;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
  display: none;
}

.selectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 14px;
  /*Adjust for position however you want*/

  top: 10px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;

  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.main > .content {
  padding: 0 0 0 0;
}

.header {
  position: relative;
}

.main > .content .header img {
  width: 100%;
}

.main .side_menu {
  position: fixed;
  display: inline-block;
  z-index: 3;
  height: 100%;
}

.back_rose {
  background-color: #FFBED6;
}

.rose {
  color: #FFBED6;
}

.main .side_menu > div {
  position: absolute;
}

.main .side_menu .closed {
  width: 288px;
  left: -361px;
  height: 768px;
  transition: all 1s;
  padding-bottom: 30px;
  z-index: -1;
  ul {
    li {
      margin-bottom: 20px;
      a {
        font: 20px MinionPro-Regular, sans;
      }
    }
    li.active {
      a {
        color: #ffffff;
        padding-right: 14px;
        position: relative;

        &:before {
          position: absolute;
          content: "";
          width: 2px;
          height: 16px;
          background-color: #ffffff;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.main .side_menu .closed .wrapper-link .link {
  border-bottom: 1px solid #fff;
  display: table;
  color: #ffffff;
  font: 16px MinionPro-Regular, sans-serif;
  text-decoration: none;
  margin-bottom: 25px;
}

.main .side_menu .closed .wrapper-link .link {
  &.active {
    color: #67caef;
    border-color: #67caef;
  }
  &:hover {
    color: #67caef;
    border-color: #67caef;
  }
}

.main .side_menu .closed .link:hover {
  color: white;
}

.main .side_menu .opened {
  width: 82px;
  height: 100%;
}

//toogleclass d_block

.main .side_menu .button.tog.d_block {
  .title {
    opacity: 0;
    transition: all .2s;
  }
  .line_menu {
    background: transparent;
    transition: all .3s;

    &:before {
      top: 80%;
      left: -1px;
      width: 31px;
      transition: all .3s;
    }
    &:after {
      transform: rotate(-90deg);
      top: 100%;
      right: 0;
      width: 31px;
      transition: all .3s;
    }
  }
}

.main .side_menu .opened {
  .tog {
    .line_menu {
      position: relative;
      display: block;
      width: 14px;
      height: 2px;
      background: #363535;
      margin-bottom: 16px;
      transform: rotate(-45deg);
      left: 22px;

      &:before,
      &:after {
        position: absolute;
        content: "";
        width: 24px;
        height: 2px;
        background: #363535;
        transition: all .3s;
      }
      &:before {
        top: -6px;
        left: 50%;
        transform: translateX(-50%);
      }
      &:after {
        top: 6px;
        right: 50%;
        transform: translateX(50%);
      }
    }
  }
}

.main .side_menu .opened .title {
  text-transform: uppercase;
  font: 16.5px 'TwCenClassMTStd-Regular', sans-serif;;
  font-weight: bold;
}

/*.main .side_menu:hover .closed,*/
.main .side_menu .closed.active {
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.main .side_menu .closed > ul {
  margin-left: 81px;
  list-style: none;
  font-size: 18px;
  margin-top: 91px;
  padding: 0;
}

.main .side_menu .closed .wrapper-link {
  margin: auto 0 0 16px;
}

.main .side_menu ul {
  -moz-padding-start: 0;
}

.main .side_menu ul li a {
  color: #000;
}

.main .side_menu ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.main .side_menu .button {
  color: initial;
  display: inline-block;
  &:active {
    background: none;
  }
}

.main .side_menu .button.tog {
  position: absolute;
  display: block;
  left: 16px;
  padding-top: 12px;
  top: 51px;
  text-decoration: none;
  z-index: 9999999999;
}

.header {
  min-height: 100px;
}

.header .user {
  position: absolute;
  top: 53px;
  right: 128px;
  text-align: center;
  z-index: 1;
}

.header .user .choose_lang a.btn {
  font: 16px MinionPro-Regular, serif;
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: all .3s;
  line-height: 31px;
  margin-top: 10px;
  outline: none;
  border-radius: 0;
  padding: 0 15px;
  letter-spacing: 1px;

  &:hover {
    border-color: #ced3d5;
    color: #ced3d5;
  }
}

/*===========carousel============*/
.block-inner {
  display: inline-block;
  width: 300px;
}

.block-inner {
  padding: 2px 2px;
}

.block-inner img {
  width: 100%;
  margin-bottom: 10px;
}

.block-inner .name {
  margin-bottom: 15px;
}

.block-inner .about {
  height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel_container {
  position: relative;
  overflow: initial;
  width: 100%;
  display: inline-block;
  padding-left: 97px;
}

.hometab {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.navi {
  position: absolute;
  cursor: pointer;
  z-index: 3;
  font-size: 48px;
  color: white;
  top: 30%;
  width: 30px;
  height: 50px;
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-shadow: 1px 2px 4px #333333;
}

.prev {
  left: 117px;
}

.next {
  right: 10px;
}

.phone a.btn {
  color: #ffffff;
  font-family: MinionPro-Regular, serif;
  transition: all .3s;
  font-size: 18px;
  letter-spacing: 1.8px;

  &:hover {
    color: #ced3d5;
  }
}

.navi:hover {
  color: #000;
  text-decoration: none;
}

footer {
  color: white;
}

/*===============modal================*/
.modal .close i {
  font-size: 38px;
  text-shadow: none;
}

.modal input[type=text], .modal input[type=email], .modal input[type=password] {
  background-color: initial;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.catalog .profile_item > a {
  display: inline-block;
  width: 100%;
}

.catalog .profile_item .image img {
  width: 100%;
}

.catalog .profile_item .details p {
  height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
  margin-bottom: 40px;
  margin-top: 15px;
}

.catalog .profile_item .control a {
  padding: 5px 35px;
  margin: 15px 5px;
  display: inline-block;
  background-color: white;
  color: #000;
}

.catalog .profile_item .control a:hover {
  text-decoration: none;
}

.profile .face .image img {
  padding: 0 40px;
}

.profile .face .data h1 {
  margin: 0;
}

.profile .face .data dl {
  display: table-row;
}

.profile .face .data dt, .profile .face .data dd {
  display: table-cell;
  padding: 10px 5px;
}

.profile .face .data dt {
  color: #bbb;
  font-weight: normal;
  text-transform: capitalize;
}

.profile .actions .button {
  padding: 5px 25px;
  margin: 15px 5px;
  display: inline-block;
  color: #000;
}

.profile .actions .button:hover {
  text-decoration: none;
  color: #000;
}

.profile .actions a {
  text-decoration: none;
}

.profile .actions .mr3 img {
  width: 64px;
}

.profile .carousel .slick-slide img {
  height: 256px;
}

.page {
  margin-top: 80px;
  margin-bottom: 60px;
  margin-left: /*-97*/
          0;
  padding: 0 39px;
  .box_wrapp {
    max-width: 915px;
    display: inline-block;
  }
}

.page p {
  margin: 40px 0 10px 0;
  font: 18px MinionPro-Regular;
  color: #000;
  line-height: 1.39;
  letter-spacing: 0.9px;
}

.box_inst {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 85px;
  height: 65px;
  background: #ffffff;
  box-shadow: 0 2px 30px -11px #000000;
  text-align: center;
  z-index: 1;

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.main > .content .header .box_inst a img {
  width: 36px;
  height: 36px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.page ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  margin-left: 20px;
}

.page ul li:before {
  content: "- ";
}

.item .image img {
  width: 100%;
}

.item .info p {
  padding: 0;
  margin: 0;
}

.item .info h4 {
  margin-bottom: 40px;
}

.bg_cont p {
  margin: 20px 0 0 0;
}

.container_btn > div {
  padding: 0;
}

.wr_link {
  text-align: center;
  margin: 200px 0 100px 0;
}

.wr_link a {
  padding: 5px;
  text-decoration: underline;
}

.wr_link .black {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-family: MinionPro-Regular, sans-serif;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    background: #000000;
    transform: translateX(-50%);
    left: 50%;
    bottom: -15px;
  }
}

.wr_link.h_recom .black {
  font-size: 25px;
}

.copyright {
  color: #ffffff;
  transition: all .3s;
  font: 10px 'Century GothicBold', sans-serif;
}

.wr_link .fa {
  font-size: 28px;
}

.con_img span {
  font-size: 36px;
  color: #747474;
  margin-left: 20px;
}

.con_img img {
  border-bottom: 23px solid #a3aab1;
  width: 100%;
}

.bg_cont p {
  width: 222px;
  font-size: 18px;
  color: #000000;
  letter-spacing: .7px;
  margin-top: 30px;
}

.bg_cont strong {
  color: #a3aab1;
  font-size: 34px;
  font-weight: normal;
}

.ty_block img {
  border-color: #d6ae7b;
}

.ty_block span {
  color: #d6ae7b;
}

.ty_cont strong {
  color: #d6ae7b;
}

.color_two span, .color_two strong {
  color: #4d5361;
}

.two-bg img {
  border-color: #60697e
}

.box_described h3 {
  font-size: 35px;
  color: #040404;
  line-height: 100px;
  font-family: Atia, sans-serif;
}

.box_described p {
  font-size: 18px;
  color: #000000;
  letter-spacing: .7px;
}

.plan h1 {
  font-family: inherit;
}

#modal_profile_image .modal-body img {
  max-height: 600px;
}

img.header-bg {
  display: block;
  max-height: 768px;
}

img.mob-header-bg {
  display: none;
}

.cast_modal, .form-modal {
  width: 740px;
  margin: 181px auto;
  a.modal_btn_close {
    width: 31px;
    height: 31px;
    position: relative;
    right: -45px;
    top: -45px;
    opacity: 1;
    z-index: 99999;
    &:before, &:after {
      position: absolute;
      content: "";
      width: 30px;
      height: 3px;
      background: #ffffff;
      top: 50%;
      transform: translateY(-50%);
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  .my_modal {
    border-radius: 0;
    padding: 31px 130px;
    position: relative;

    .modal-body {
      padding: 0;

      span {
        left: 201px;
        position: relative;
        font-family: Beauty;
        font-size: 43.5px;
        line-height: 1.14;
        letter-spacing: 2.2px;
        color: #feccde;
      }
      p {
        color: #e4dede;
        font-family: MinionPro-Regular, serif;
        font-size: 16px;
      }
      form.form_modal {
        display: flex;
        margin-bottom: 10px;

        a.btn_mod {
          width: 212px;
          height: 56px;
          text-align: center;
          line-height: 56px;
          padding: 0;
          font-family: MinionPro-Regular, serif;
          font-size: 20.5px;
          color: #262626;
          background-color: #feccde;
        }
        input[placeholder="Ваш номер телефона"]::-webkit-input-placeholder {
          font-family: MinionPro-Regular, serif;
          color: #ffffff;
        }
        input[placeholder="Ваш номер телефона"]::-moz-placeholder {
          font-family: MinionPro-Regular, serif;
          color: #ffffff;
        }
        input {
          outline: none;
          width: 292px;
          height: 56px;
          background-color: #ededed;
          border: none;
          font-size: 20.5px;
          color: #000;
          font-family: MinionPro-Regular, serif;
        }
      }
    }
    h5 {
      font-size: 24px;
      letter-spacing: 1.2px;
      font-family: MinionPro-Regular, serif;
      color: #2b2b2c;
      margin-bottom: 30px;
    }
  }
}

.form-modal {
  width: 850px;

  .my_modal {
    padding: 60px;

    .modal-body {

      span {
        left: 0;
        display: block;
        text-align: center;
      }
      .form_modal.form_wei {
        display: block;

        input {
          color: #000;
          display: block;
          background: transparent;
          border-bottom: 1px solid #3b3d41;
          margin-bottom: 42px;
        }
        p {
          color: #757575;
          font-size: 20.5px;
        }
        textarea {
          border-color: #3b3d41;
          height: 200px;
          font-size: 20.5px;
          margin-bottom: 40px;
          color: #000;
        }
        button {
          display: block;
          margin: 0 auto;
          font-size: 18px;
          color: #ffffff;
          box-shadow: 0 0 22px -3px rgba(0,0,0,.2);
          transition: all .3s;
          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
}

//our services
.header {
  .user.white.our_ser {
    a {
      color: #2f2f2f;
      border-color: #2f2f2f;
    }
    a.link-tell {
      border: none;
    }
  }
  .wrapper_logo {
    position: absolute;
    top: 53px;
    z-index: 1;
    left: 150px;
    .link-logo {
      display: block;

      .logo {
        width: 146px;
      }
    }
  }
}

.main .side_menu .height_box {
  height: 753px;
}

.container {

  .row {

    .col-lg-12 {
      padding: 0;
      .box_to {
        display: flex;
        justify-content: space-between;
        margin-bottom: 225px;
        position: relative;

        a.wrapper_link {
          color: #1f201f;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
        .box_img {
          padding-left: 6px;
          img {
            max-width: 580px;
          }
        }
        .box_product {
          max-width: 473px;

          span {
            display: inline-block;
            margin-bottom: 40px;
            position: relative;
            font: 25px "Myriad Pro";
            z-index: -1;
            &:before {
              position: absolute;
              content: "";
              bottom: -15px;
              left: 0;
              width: 95px;
              height: 2px;
              background: #000;
            }
          }
          p {
            margin-bottom: 120px;
            font: 18px MinionPro-Regular, sans-serif;
            line-height: 21px;
          }
          a.btn_price {
            font: 20px MinionPro-Regular, sans-serif;
            color: #404c31;
            border: solid 2px #373f48;
            border-radius: 0;
            padding: 15px 30px;
            &:hover {
              border-color: #FFBED6;
              color: #ffffff;
            }
          }
        }
      }
      .wr_desc {
        margin-bottom: 77px;
        h1 {
          font-size: 25px;
          color: #2f2f2f;
          margin: 0 0 86px 0;
        }
        p {
          font: 18px MinionPro-Regular;
          margin-bottom: 30px;
          color: #000000;
        }
      }
    }
  }
}
a.btn_price {
  font: 20px MinionPro-Regular, sans-serif;
  color: #404c31;
  border: solid 2px #373f48;
  border-radius: 0;
  padding: 15px 30px;
  &:hover {
    border-color: #FFBED6;
    color: #ffffff;
  }
}
//btn hover
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');
$mainFont: 'Montserrat', sans-serif;
$primaryColor: #FFBED6;
$secondColor: #FFBED6;
.cen-btn{
  margin: 50px 0;
}
.btn-6 {
  position: relative;
  border: 3px solid $primaryColor;
  transition: all 300ms ease;
  border-radius: 0;
  z-index: 10;

  &:before {
    content: '';
    height: 0;
    width: 2px;
    position: absolute;
    top: 10%;
    left: 10%;
    background: $primaryColor;
    transition: all 0ms ease;
  }

  &:after {
    content: '';
    height: 80%;
    width: 0;
    position: absolute;
    top: 10%;
    left: 10%;
    background: $primaryColor;
    transition: all 0ms ease;
    z-index: -1;
  }

  &:hover {
    color: #FFFFFF;

    &:before {
      content: '';
      height: 80%;
      width: 2px;
      position: absolute;
      top: 10%;
      left: 10%;
      background: $primaryColor;
      transition: all 300ms ease;
    }

    &:after {
      content: '';
      height: 80%;
      width: 80%;
      position: absolute;
      top: 10%;
      left: 10%;
      transition: all 300ms ease;
      transition-delay: 350ms;

    }
  }
}

//contacts
.main .side_menu {
  height: 768px;
  max-height: 80%;
}

.main .side_menu .closed.heid_ti {
  height: 100%;
}

.mr_top {
  margin-top: 67px;
  background: #fff;
  padding-top: 67px;
  .row {
    .box_contaks {

      form {

        textarea {
          max-width: 504px;
          height: 218px;
          border: solid 1px #373f48;
          border-radius: 0;
          margin-bottom: 27px;
        }
        input {
          outline: none;
          border: none;
          border-bottom: 1px solid #3b3d41;
          width: 386px;
          padding: 16px 3px;
          margin-bottom: 42px;
          color: #feccde;
          font-size: 18px;
        }
        input::placeholder {
          color: rgba(38, 38, 38, 0.22);
        }
        p {
          color: rgba(38, 38, 38, 0.24);
          margin: 17px 0;
        }
        div.button {
          button {
            display: block;
            margin: 0 auto;
            width: 240px;
            height: 64px;
            background-color: #dcdcdc;
            color: #fff;
            font-size: 20px;
            border: none;
          }
        }
      }
      &:first-child .box_for span {
        display: block;
      }
      h3 {
        font-family: MyriadPro-Regular, serif;
        font-size: 24px;
        color: #2f2f2f;
        margin-bottom: 80px;
      }
      .box_for {
        font-family: MinionPro-Regular, serif;
        color: #2f2f2f;
        margin-bottom: 35px;

        span {
          font-size: 19.5px;
          font-weight: bold;
          line-height: 1.9;
        }
        p {
          font-size: 19.5px;
          margin-left: 8px;
        }
        a.btn {
          font: 19px MinionPro-Bold, SansSerif;
          font-weight: bold;
          width: 102px;
          display: block;
          line-height: 1.3;
          color: inherit;
          margin-bottom: 10px;
          padding: 0;
          border-radius: 0;
          border-bottom: 1px solid #2f2f2f;
        }
      }
    }
  }
}

//hover
div.button {
  letter-spacing: 0.2125rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: background 5s cubic-bezier(0.19, 1, 0.22, 1),
  border 1s cubic-bezier(0.19, 1, 0.22, 1),
  color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  user-select: none;
  width: 240px;
  margin: 0 auto;
}

div.button .from-top {
  color: #969696;
  text-decoration: none;
}

div.button .mask {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100px;
  position: absolute;
  transform: translate3d(-180%, -50px, 0) rotate3d(0, 0, 1, 45deg);
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  width: 200px;
}

div.button:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: #fff;
  box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
  transition: background 0s;
}

.button:hover .from-top {
  color: #fff;
}

.button:hover .mask {
  background-color: #fff;
  transform: translate3d(180%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.button:active {
  background-color: #fff;
}

.button:active .from-top {
  color: #202020;
}

//why we
.section_icon {

  h2 {
    margin: 0 auto;
    max-width: 591px;
    font: 24px MinionPro-Regular, sans-serif;
  }

  .cont_usl {
    padding: 85px 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      height: 188px;
      max-width: 210px;
      margin: 0 85px 35px;
      vertical-align: top;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
        display: block;
        margin: auto;
      }
      span {
        color: #2f2f2f;
        font: 18.5px MinionPro-Regular, sans-serif;
      }
    }
  }
}

//slider
.owl-carousel.owl-theme.owl-loaded.owl-drag {
  width: calc(100% + 20px);
  max-width: 1200px;
  z-index: 0;
  margin: 0 auto;

  .owl-stage-outer {
    padding-left: 10px;

    .owl-stage {
      padding: 30px 0;

      .owl-item {
        opacity: 0;
        transition: all .6s;
        max-width: 400px !important;

        .item.slider_box {

          .box_content {
            padding: 34px 43px 60px;
            strong {
              font: 19.5px MinionPro-Regular, serif;
              margin-bottom: 12px;
            }
            span {
              font: 19.5px MinionPro-Regular, serif;
              font-weight: bold;
              margin-bottom: 25px;
              color: #a9a9a9;
              display: block;
            }
            p {
              font: 18px MinionPro-Regular, serif;
              opacity: 0;
              transition: all .4s;
            }
          }
          &:hover .box_content p {
            opacity: 1;
          }
        }
        &.active {
          margin: 0 !important;
          opacity: 1;
          background: #ffffff;
        }
        &:hover {
          box-shadow: 1px 4px 37px -17px #000;
        }
      }
    }
  }
  .owl-nav.disabled {
    display: block;
    position: absolute;
    top: 191px;
    width: 110%;
    left: 50%;
    transform: translateX(-50%);

    .owl-prev, .owl-next {
      position: absolute;
      width: 26px;
      height: 50px;
      outline: none;

      span {
        display: none;
      }
    }
    .owl-prev {
      left: 0;
      background: url("../img/slider_button_left.png") center no-repeat;
    }
    .owl-next {
      right: 0;
      background: url("../img/slider_button_right.png") center no-repeat;
    }
  }
  .owl-dots {
    display: none;
  }
}

//slider mob
.slid-modi {
  width: 100%;
  .item {
    display: inline-block;
    max-width: 380px;
    margin: 0 0 10px;
    background: #ffffff;

    img {
      width: 100%;
    }
    div.box_content {
      padding: 34px 43px 60px;
      strong {
        display: block;
        font: 19.5px MyriadPro-Regular, sans-serif;
        margin-bottom: 12px;
      }
      span {
        font: 19.5px MyriadPro-Regular;
        font-weight: 700;
        margin-bottom: 25px;
        color: #a9a9a9;
        display: block;
      }
      p {
        font: 18px MyriadPro-Regular, sans-serif;
        opacity: 0;
        transition: all .4s;
      }
    }
    &:hover {
      box-shadow: 1px 4px 37px -17px #000;
    }
    &:hover div.box_content p {
      opacity: 1;
    }
  }
}

.container {
  .row {
    .col-lg-12 {
      .wr_desc.mar_n {
        margin-bottom: 0;
        .recomm_content {

          span.h_puncht {
            font: 24px MinionPro-Regular, sans-serif;
            color: #000000;
            margin-bottom: 45px;
            display: block;
          }
          p {
            margin: 0 25px 72px;
          }
          & p:last-child {
            margin-bottom: 0;
          }
          ul {
            margin-bottom: 80px;
            padding-left: 169px;
            li {
              list-style: none;
              font: 18px MinionPro-Regular, sans-serif;
              color: #000000;
            }
          }
        }
      }
    }
  }
}

//prices
.price_zai {
  margin-bottom: 170px;
}

.wrapper_prices {
  max-width: 750px;
  margin: 0 auto;
  padding-bottom: 80px;
  background: #ffffff;

  .price {

    h3 {
      font-weight: bold;
      margin-bottom: 80px;
    }

    div {
      display: flex;
      justify-content: space-between;
      position: relative;

      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 60%;
        background: #FFBED6;
        width: 2px;
        height: 85%;
      }
      ul {
        font: 20px MinionPro-Regular, sans-serif;
        padding: 0;

        li {
          list-style: none;
          margin-bottom: 30px;
        }
      }
      ul.cen-service {
        font-weight: bold;
      }
    }
  }
  .wr_link {
    margin: 100px 0 0;
    position: relative;

    a {
      color: #ffffff;
      padding: 20px 30px;
      background: #FFBED6;
      transition: all 300ms ease;

      &:hover {
        color: #f7f7f7;
      }
      &:before {
        display: none;
      }
    }
  }
}

//Thank you
.modal_th {
  max-width: 250px;
  margin: 110px auto;

  a.modal_btn_close {
    width: 31px;
    height: 31px;
    position: relative;
    right: 29px;
    top: -6px;
    opacity: 1;
    z-index: 99999;
    &:before, &:after {
      position: absolute;
      content: "";
      width: 30px;
      height: 3px;
      background: #ffffff;
      top: 50%;
      transform: translateY(-50%);
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  .my_modal {
    background: transparent;
    box-shadow: none;
    border: none;
    .modal-body {
      span {
        font: 40px 'Beauty';
        color: #feccde;
      }
    }
  }
}

//prisLinkBr slider
.owl-carousel.owl-theme {

  .owl-stage-outer {

    .owl-stage {

      .owl-item {
        position: relative;
      }
      & .owl-item.active:first-child {
        opacity: 0;
        &:after {
          content: '';
          position: absolute;
          left: 20px;
          bottom: -20px;
          border: 10px solid transparent;
          border-top: 10px solid green;
        }
      }
    }
  }
}

.wr_link.link_us {
  margin: 5px auto;
  a.black {
    padding: 15px 21px;
    background: #FFBED6;
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
    &:before {
      display: none;
    }
  }
}

//hover
.link_us.button {
  letter-spacing: 0.2125rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: background 5s cubic-bezier(0.19, 1, 0.22, 1),
  border 1s cubic-bezier(0.19, 1, 0.22, 1),
  color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  user-select: none;
}

.link_us.button .from-top {
  color: #969696;
  text-decoration: none;
}

.link_us.button .mask {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100px;
  position: absolute;
  transform: translate3d(-320%, -50px, 0) rotate3d(0, 0, 1, 45deg);
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  width: 200px;
}

.link_us.button:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: #fff;
  box-shadow: 0 0 5px rgba(255, 245, 245, 0.8);
  transition: background 0s;
}

.button:hover .from-top {
  color: #fff;
}

.button:hover .mask {
  background-color: #fff;
  transform: translate3d(320%, -100px, 0) rotate3d(0, 0, 1, 90deg);
}

.button:active {
  background-color: #fff;
}

.button:active .from-top {
  color: #202020;
}

.container .row .col-lg-12 .wr_desc.wrapper-services {
  background: #ffffff;
  padding-bottom: 130px;
  margin: 0;
  h4 {
    font: 22px MinionPro-Regular, serif;
    margin-bottom: 100px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background: #000;
      width: 98px;
      height: 2px;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  p {
    margin-bottom: 70px;
    font-size: 18px;
  }
  ul {

    li {
      list-style: decimal;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 60px;
      span {
        font-size: 18px;
        display: block;
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

//training
.container .row .col-lg-12 .wr_desc.wrapper-training {
  margin-top: 100px;
  padding: 0 100px;
  color: #000;
  h2 {
    margin-bottom: 40px;
    font-size: 22px;
  }
  .h-programm {
    font-size: 14px;
  }
  span.h-programm {
    display: block;
    font: 23px MinionPro-Regular;
    margin-bottom: 35px;
  }
  ul {
    margin-bottom: 60px;
    padding: 0;
    font-size: 19px;
  }
  ul.wrapper-description {

    li {
      list-style: none;
      margin-bottom: 12px;
    }
  }
  ul.characteristic {
    margin-left: 20px;
    li {
      padding-left: 10px;
      list-style: decimal;
    }
  }
  ul.wr_practice {

    li {
      list-style: none;
      margin-bottom: 30px;
      p {
        margin-bottom: 9px;
        font: 19px MinionPro-Regular;
      }
    }
    & li:nth-child(2) {
      margin-bottom: 0;
    }
  }
  div.wr_desc_text {
    p {
      color: #6e6e6e;
      font: 15px MinionPro-Regular;
      margin: 0;
      font-size: 19px;
    }
  }
}

.wr_link.bx_training {
  margin: 50px 100px;
}

//404
.container {

  .wrapper-404 {
    position: relative;
    span {
      font: 445px Arial;
      color: #FFBED6;
      display: block;
      font-weight: bold;
      line-height: 445px;
      text-shadow: 15px 0 0 rgba(255, 190, 214, 0.15);
    }
    strong {
      position: absolute;
      font: 120px 'Beauty';
      color: #000;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
    p {
      font-size: 25px;
      color: #000;
    }
  }
}

//modal servise
.form-modal {
  .my_modal.p-modal {
    padding: 80px 140px 40px;
    .modal-body {
      form.form_wei {
        input {
          width: 100%;
        }
        textarea {
          width: 100%;
        }
      }
    }
  }
}

//contact Admin
.container.mr_top {
  .row {
    .box_contaks.contact_admin {
      max-width: 750px;
      left: 50%;
      transform: translateX(-50%);
      form {
        textarea {
          max-width: 100%;
        }
        p {
          font-size: 18px;
        }
        div.button {
          width: 240px;
          margin: 0 auto;
        }
      }
    }
  }
}

.form_modal i.wr-input {
  position: relative;
  display: block;
}

.form_modal i.wr-input:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: red;
  transition: all .4s;
}

.form_modal i.wr-input i.icon-vos {
  position: absolute;
  display: none;
  color: #ff0000;
  font-size: 18px;
  left: 90%;
  top: 100%;
}

.form_modal i.wr-input.close_pe:before {
  width: 100%;
}

.form_modal i.wr-input.close_pe i.icon-vos {
  display: block;
}

// Button Six
.btn-pr {
  padding: 1em 3em;
  border: 3px solid $primaryColor;
  transition: all 300ms ease;
  //box-shadow: 0px 4px 10px 2px rgba(black, 0.2);

  &:before {
    content: '';
    height: 0%;
    width: 2px;
    position: absolute;
    top: 10%;
    left: 10%;
    background: $primaryColor;
    transition: all 0ms ease;
  }

  &:after {
    content: '';
    height: 80%;
    width: 0px;
    position: absolute;
    top: 10%;
    left: 10%;
    background: $primaryColor;
    transition: all 0ms ease;
    z-index: -1;
  }

  &:hover {
    color: white;
    box-shadow: none;
    &:before {
      content: '';
      height: 80%;
      width: 2px;
      position: absolute;
      top: 10%;
      left: 10%;
      background: $primaryColor;
      transition: all 300ms ease;
    }

    &:after {
      content: '';
      height: 80%;
      width: 80%;
      position: absolute;
      top: 10%;
      left: 10%;
      transition: all 300ms ease;
      transition-delay: 350ms;

    }
  }
}

.wr_link .black.btn-7:before {
  content: '';
  height: 0;
  width: 2px;
  position: absolute;
  top: 10%;
  left: 10%;
  background: #ffffff;
  transition: all 0ms ease;
}

@media screen and (max-width: 1366px) {
  .wr_desc {
    padding: 0 140px;
  }
  .container .row .col-lg-12 .box_to {
    padding: 0 46px;
  }
}

@media only screen and (max-width: 1024px) {
  .page .box_wrapp {
    max-width: 630px;
  }
  //our services
  .container .row .col-lg-12 .box_to .box_img img {
    width: 100%;
  }
  .container .row .col-lg-12 .box_to {
    padding: 0 75px;
  }
  .container .row .col-lg-12 .box_to .box_product span {
    margin-bottom: 15px;
    font-size: 25px;
  }
  .container .row .col-lg-12 .box_to .box_product span:before, .wr_link .black:before {
    bottom: -4px;
  }
  .container .row .col-lg-12 .box_to .box_product p {
    margin-bottom: 36px;
  }
  .container .row .col-lg-12 .box_to {
    margin-bottom: 77px;
  }
  .container .row .col-lg-12 .box_to .box_product a.btn_price {
    padding: 13px 28px;
  }
  .wr_link {
    margin: 75px 0 75px;
  }
  .main .side_menu .height_box {
    height: 735px;
  }
  .mr_top .row .box_contaks {
    padding-left: 70px;
  }
  .slid_master .slider_box .box_content p {
    opacity: 1;
  }
  .slid_master .slider_box .box_content .box_text {
    display: block;
  }
  .slid-modi .item div.box_content p {
    opacity: 1;
  }
  .owl-carousel.owl-theme.owl-loaded.owl-drag {
    width: 100%;
  }
  .owl-carousel.owl-theme.owl-loaded.owl-drag .owl-nav.disabled {
    width: 95%;
  }
}

@media only screen and (max-width: 980px) {
  img.header-bg {
    display: none;
  }
  img.mob-header-bg {
    display: block;
  }
  .header.home .user {
    right: 50%;
    top: 35%;
    transform: translate(50%, 50%);
  }
  .header .user {
    top: 225px;
    right: 50%;
    transform: translateX(50%);
  }
  .main .side_menu {
    width: 100%;
    height: 82px;
    min-height: 82px;
  }
  .main .side_menu .opened {
    width: 100%;
  }
  .main .side_menu .button.tog {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .main .side_menu .closed {
    width: 100%;
    left: 0;
    top: -700px;
  }
  .main .side_menu .closed.active {
    top: 0;
    height: 700px;
  }
  .header.mob_head {
    margin-bottom: 245px;
  }
  .container .row .col-lg-12 .wr_desc h1 {
    margin: 0 0 30px;
  }
  .header .wrapper_logo {
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
  }
  .main .side_menu .closed > ul {
    margin: 91px auto 0;
  }
  //our services
  .wr_desc {
    padding: 0 30px;
  }
  .container .row .col-lg-12 .box_to .box_product span {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: normal;
  }
  .container .row .col-lg-12 .box_to .box_product span:before, .wr_link .black:before {
    bottom: -4px;
  }
  .container .row .col-lg-12 .box_to .box_product p {
    line-height: 16px;
    font-size: 16px;
    margin-bottom: 16px;
  }
  .container .row .col-lg-12 .box_to .box_product a.btn_price {
    padding: 5px 13px;
    font-size: 17px;
  }
  .wr_link {
    margin: 75px 0 75px;
  }
  .container .row .col-lg-12 .box_to {
    margin-bottom: 85px;
  }
  .main .side_menu .height_box {
    height: 688px;
  }
  .cast_modal a.modal_btn_close {
    right: 18px;
    top: 230px;
    &:before, &:after {
      background: #feccde;
    }
  }
  .cast_modal {
    width: 90%;
  }
  .mr_top .row .box_contaks {
    padding-left: 15px;
  }
  .owl-carousel.owl-theme.owl-loaded.owl-drag {
    width: 100%;
  }
  .owl-carousel.owl-theme.owl-loaded.owl-drag .owl-nav.disabled {
    top: 100px;
    width: 90%;
  }
  .form-modal {
    width: 80%;
  }
  .form-modal a.modal_btn_close {
    right: 20px;
    top: 20px;
    &:after, &:before {
      background: #feccde;
    }
  }
  .form-modal .my_modal.p-modal {
    padding: 15px 50px 10px;
  }
}

@media screen and (max-width: 768px) {
  .container .row .col-lg-12 .wr_desc {
    margin: 0 auto 77px;
  }
  .mob_head {
    min-height: 170px;
  }
  .container .row .col-lg-12 .wr_desc h1 {
    margin: 0 0 28px;
  }
  .main .side_menu .height_box {
    height: 468px;
  }
  .cast_modal {
    width: 100%;
  }
  .mr_top .row .box_contaks {
    text-align: center;
  }
  .mr_top .row .box_contaks .box_for a.btn {
    margin: 0 auto 10px;
  }
  .mr_top .row .box_contaks form textarea {
    margin: 0 auto 27px;
  }
  .header .wrapper_logo {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
  .container .row .col-lg-12 .wr_desc.mar_n .recomm_content ul {
    padding-left: 40px;
  }
  .container .row .col-lg-12 .box_to .box_product {
    padding-left: 5px;
  }
  .container .row .col-lg-12 .wr_desc.wrapper-training {
    padding: 0 10px;
  }
  .wr_link .black {
    font-size: 12px;
  }
  .wr_link, .wr_link.bx_training {
    margin: 75px 0;
  }
  .owl-carousel.owl-theme.owl-loaded.owl-drag .owl-stage-outer .owl-stage .owl-item .item.slider_box .box_content, .slid-modi .item div.box_content {
    padding: 5px;
  }
  .owl-carousel.owl-theme.owl-loaded.owl-drag .owl-stage-outer .owl-stage .owl-item .item.slider_box .box_content strong {
    font-size: 13px;
    display: inline-block;
    margin-bottom: 10px;
  }
  .owl-carousel.owl-theme.owl-loaded.owl-drag .owl-stage-outer .owl-stage .owl-item .item.slider_box .box_content span {
    font-size: 11px;
    margin-bottom: 10px;
  }
  .owl-carousel.owl-theme.owl-loaded.owl-drag .owl-stage-outer .owl-stage .owl-item .item.slider_box .box_content p {
    font-size: 10px;
  }
  .mr_top .row .box_contaks form input {
    width: 100%;
  }
  .main .side_menu .closed.active {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 550px) {
  .cast_modal .my_modal .modal-body span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -85px;
    white-space: nowrap;
  }
  .cast_modal .my_modal .modal-body form.form_modal {
    display: block;
    margin-bottom: 80px;
  }
  .cast_modal .my_modal .modal-body form.form_modal input {
    margin: 0 auto 53px;
    display: block;
  }
  .cast_modal .my_modal .modal-body p {
    top: 70px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .cast_modal .my_modal .modal-body form.form_modal a.btn_mod {
    margin: 0 auto 20px;
    display: block;
  }
  .cast_modal a.modal_btn_close {
    top: 315px;
  }
  .cast_modal .my_modal {
    padding: 31px 60px;
  }
  .container .row .col-lg-12 .box_to {
    display: block;
  }
  .container .row .col-lg-12 .box_to .box_img {
    margin-bottom: 15px;
  }
  div.button-item {
    text-align: center;
  }
  .container .row .col-lg-12 .box_to .box_product a.btn_price {
    padding: 9px 18px;
  }
  .container .row .col-lg-12.wr_box_us {
    & .box_to:nth-child(2n+1) {
      display: table;
      .box_product.mr_bt {
        display: table-footer-group;
      }
    }
  }
  .form-modal .my_modal {
    padding: 22px;
  }
  .form-modal .my_modal .modal-body form.form_modal input {
    width: 100%;
  }
  .main .side_menu .closed > ul {
    margin: 75px auto 0;
  }
}

@media only screen and (max-width: 425px) {
  .main .side_menu .opened .title {
    font-size: 16px;
  }
  .main .side_menu .height_box {
    height: 748px;
  }
  .header .wrapper_logo .link-logo .logo {
    width: 104px;
  }
  .header .user {
    z-index: 0;
  }
  .container .row .col-lg-12 .box_to {
    padding: 0;
  }
  .container .row .col-lg-12 .box_to {
    display: table;
  }
  .container .row .col-lg-12 .wr_desc {
    margin: 0 auto 27px;
    display: block;
  }
  .box_inst {
    z-index: 1;
  }
  .box_img {
    padding: 0;
    margin-bottom: 42px;
  }
  .container .row .col-lg-12 .box_to .box_product span {
    font-size: 25px;
  }
  .container .row .col-lg-12 .box_to .box_product {
    padding: 0 39px;
    display: table-footer-group;
  }
  .container .row .col-lg-12 .box_to .box_product p {
    margin-bottom: 40px;
    padding: 0 39px;
  }
  .container .row .col-lg-12 .box_to .box_product span {
    margin-left: 39px;
  }
  .container .row .col-lg-12 .box_to .box_product a.btn_price {
    display: table;
    margin: 0 auto;
  }
  .container .row .col-lg-12 .box_to {
    margin-bottom: 40px;
  }
  .container .row .col-lg-12 .box_to .box_product a.btn_price {
    padding: 13px 39px;
  }
  .mr_top .row .box_contaks form input {
    width: 300px;
  }
  .mr_top .row .box_contaks h3 {
    width: 131px;
    margin: 0 auto 70px;
  }
  .owl-carousel.owl-theme.owl-loaded.owl-drag .owl-nav.disabled {
    top: 75px;
  }
  .wrapper_prices .price div ul {
    max-width: 60%;
  }
  .wrapper_prices .price div:before {
    left: 55%;
  }
  .wrapper_prices .price h3 {
    margin-bottom: 45px;
  }
  .wrapper_prices .wr_link {
    margin: 60px 0 0;
  }
  .wrapper_prices {
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 375px) {
  .cast_modal .my_modal .modal-body form.form_modal input {
    width: 212px;
  }
}