@import "../src/slick-master/slick/slick.css";
/*===========================================*/
//fonts Beauty
@font-face {
  font-family: 'Beauty';
  src: url('../../fonts/Beauty/Beauty.woff2') format('woff2'),
  url('../../fonts/Beauty/Beauty.woff') format('woff'),
  url('../../fonts/Beauty/Beauty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//fonts CenturiGothic-Bold
@font-face {
  font-family: 'Century GothicBold';
  src: url('../../fonts/CenturyGothic-Bold/CenturyGothic-Bold.woff2') format('woff2'),
  url('../../fonts/CenturyGothic-Bold/CenturyGothic-Bold.woff') format('woff'),
  url('../../fonts/CenturyGothic-Bold/CenturyGothic-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

//fonts MyriadPro-Regular
@font-face {
  font-family: MyriadPro-Regular;
  src: url('../../fonts/MyriadPro/MyriadPro-Regular.woff2') format('woff2'),
  url('../../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
  url('../../fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//fonts MinionPro-Regular
@font-face {
  font-family: MinionPro-Regular;
  src: url('../../fonts/MinionPro/MinionPro-Regular.woff2') format('woff2'),
  url('../../fonts/MinionPro/MinionPro-Regular.woff') format('woff'),
  url('../../fonts/MinionPro/MinionPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//fonts MinionPro-Bold
@font-face {
  font-family: MinionPro-Bold;
  src: url('../../fonts/MinionPro/MinionPro-Bold.woff2') format('woff2'),
  url('../../fonts/MinionPro/MinionPro-Bold.woff') format('woff'),
  url('../../fonts/MinionPro/MinionPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

//fonts TwCenMTStd
@font-face {
  font-family: 'TwCenClassMTStd-Regular';
  src: url('../../fonts/TwCenMTStd/TwCenClassMTStd-Regular.woff2') format('woff2'),
  url('../../fonts/TwCenMTStd/TwCenClassMTStd-Regular.woff') format('woff'),
  url('../../fonts/TwCenMTStd/TwCenClassMTStd-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Minion_Pro_Regular, Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
  font-size: 1.5em;
}

h1, h2, a, .profile .face .data {
  font-family: Atia, Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
}

h1 {
  font-weight: 600;
  color: #020202;
  font: 24px MinionProRegular, sans-serif;
}

body > .main {
  z-index: 3;
  position: relative;
  width: 100%;
  background: repeating-linear-gradient(90deg, rgba(0, 0, 0, .05), rgba(0, 0, 0, .05) 1px, transparent 1px, transparent 20%);
  background: -moz-repeating-linear-gradient(to right, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1) 1px, transparent 2px, transparent 20%);
}

input[type=text], select {
  border: none;
  border-bottom: 3px solid;
  border-radius: 0;
  box-shadow: none;
}

textarea {
  border-radius: 0;
}

form .btn {
  border-radius: 0;
  -webkit-box-shadow: none;
  padding: 8px 40px;
}

a.contact {
  color: initial;
  text-decoration: underline;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
  display: none;
}

.selectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 14px;
  /*Adjust for position however you want*/

  top: 10px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;

  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.main > .content {
  padding: 0 0 0 0;
}

.header {
  position: relative;
}

.main > .content .header img {
  width: 100%;
}

.main .side_menu {
  position: absolute;
  display: inline-block;
  z-index: 3;
  height: 100%;
}

.back_rose {
  background-color: #FFBED6;
}

.rose {
  color: #FFBED6;
}

.main .side_menu > div {
  position: absolute;
}

.main .side_menu .closed {
  width: 288px;
  left: -361px;
  height: 768px;
  transition: all 1s;
  padding-bottom: 30px;
  z-index: -1;
  ul {
    li {
      margin-bottom: 20px;
      a {
        font: 20px MinionProRegular, sans;
      }
    }
    li.active {
      a {
        color: #ffffff;
        padding-right: 14px;
        position: relative;

        &:before {
          position: absolute;
          content: "";
          width: 2px;
          height: 16px;
          background-color: #ffffff;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.main .side_menu .closed .wrapper-link .link {
  border-bottom: 1px solid #fff;
  display: table;
  color: #ffffff;
  font: 18px MinionProRegular, sans-serif;
  text-decoration: none;
  margin-bottom: 25px;
}

.main .side_menu .closed .wrapper-link .link:last-child {
  color: #67caef;
  border-color: #67caef;
}

.main .side_menu .closed .link:hover {
  color: white;
}

.main .side_menu .opened {
  width: 82px;
  height: 100%;
}

//toogleclass d_block

.main .side_menu .button.tog.d_block {
  .title {
    opacity: 0;
    transition: all .2s;
  }
  .line_menu {
    background: transparent;
    transition: all .3s;

    &:before {
      top: 80%;
      left: -1px;
      width: 31px;
      transition: all .3s;
    }
    &:after {
      transform: rotate(-90deg);
      top: 100%;
      right: 0;
      width: 31px;
      transition: all .3s;
    }
  }
}

.main .side_menu .opened {
  .tog {
    .line_menu {
      position: relative;
      display: block;
      width: 14px;
      height: 2px;
      background: #363535;
      margin-bottom: 16px;
      transform: rotate(-45deg);
      left: 22px;

      &:before,
      &:after {
        position: absolute;
        content: "";
        width: 24px;
        height: 2px;
        background: #363535;
      }
      &:before {
        top: -6px;
        left: 50%;
        transform: translateX(-50%);
      }
      &:after {
        top: 6px;
        right: 50%;
        transform: translateX(50%);
      }
    }
  }
}

.main .side_menu .opened .title {
  text-transform: uppercase;
  font: 16.5px 'TwCenClassMTStd-Regular', sans-serif;;
  font-weight: bold;
}

/*.main .side_menu:hover .closed,*/
.main .side_menu .closed.active {
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.main .side_menu .closed > ul {
  margin-left: 81px;
  list-style: none;
  font-size: 18px;
  margin-top: 91px;
  padding: 0;
}

.main .side_menu .closed .wrapper-link {
  margin: auto 0 0 16px;
}

.main .side_menu ul {
  -moz-padding-start: 0;
}

.main .side_menu ul li a {
  color: #000;
}

.main .side_menu ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.main .side_menu .button {
  color: initial;
  display: inline-block;
}

.main .side_menu .button.tog {
  position: absolute;
  display: block;
  left: 16px;
  padding-top: 12px;
  top: 51px;
  text-decoration: none;
  z-index: 9999999999;
}

.header {
  min-height: 100px;
}

.header .user {
  position: absolute;
  top: 53px;
  right: 128px;
  text-align: center;
  z-index: 1;
}

.header .user .choose_lang a.btn {
  font-size: 16px;
  color: #ffffff;
  border: 1px solid #ffffff;
  transition: all .3s;
  line-height: 31px;
  margin-top: 10px;
  outline: none;
  border-radius: 0;
  padding: 0 15px;
  letter-spacing: 1px;
  font-family: 'Minion Pro Regular', sans-serif;

  &:hover {
    border-color: #ced3d5;
    color: #ced3d5;
  }
}

/*===========carousel============*/
.block-inner {
  display: inline-block;
  width: 300px;
}

.block-inner {
  padding: 2px 2px;
}

.block-inner img {
  width: 100%;
  margin-bottom: 10px;
}

.block-inner .name {
  margin-bottom: 15px;
}

.block-inner .about {
  height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel_container {
  position: relative;
  overflow: initial;
  width: 100%;
  display: inline-block;
  padding-left: 97px;
}

.hometab {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.navi {
  position: absolute;
  cursor: pointer;
  z-index: 3;
  font-size: 48px;
  color: white;
  top: 30%;
  width: 30px;
  height: 50px;
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-shadow: 1px 2px 4px #333333;
}

.prev {
  left: 117px;
}

.next {
  right: 10px;
}

.phone a.btn {
  color: #ffffff;
  font-family: 'Minion Pro Regular', sans-serif;
  transition: all .3s;
  font-size: 18px;
  letter-spacing: 1.8px;

  &:hover {
    color: #ced3d5;
  }
}

.navi:hover {
  color: #000;
  text-decoration: none;
}

footer {
  color: white;
}

/*===============modal================*/
.modal .close i {
  font-size: 38px;
  text-shadow: none;
}

.modal input[type=text], .modal input[type=email], .modal input[type=password] {
  background-color: initial;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.catalog .profile_item > a {
  display: inline-block;
  width: 100%;
}

.catalog .profile_item .image img {
  width: 100%;
}

.catalog .profile_item .details p {
  height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
  margin-bottom: 40px;
  margin-top: 15px;
}

.catalog .profile_item .control a {
  padding: 5px 35px;
  margin: 15px 5px;
  display: inline-block;
  background-color: white;
  color: #000;
}

.catalog .profile_item .control a:hover {
  text-decoration: none;
}

.profile .face .image img {
  padding: 0 40px;
}

.profile .face .data h1 {
  margin: 0;
}

.profile .face .data dl {
  display: table-row;
}

.profile .face .data dt, .profile .face .data dd {
  display: table-cell;
  padding: 10px 5px;
}

.profile .face .data dt {
  color: #bbb;
  font-weight: normal;
  text-transform: capitalize;
}

.profile .actions .button {
  padding: 5px 25px;
  margin: 15px 5px;
  display: inline-block;
  color: #000;
}

.profile .actions .button:hover {
  text-decoration: none;
  color: #000;
}

.profile .actions a {
  text-decoration: none;
}

.profile .actions .mr3 img {
  width: 64px;
}

.profile .carousel .slick-slide img {
  height: 256px;
}

.page {
  margin-top: 80px;
  margin-bottom: 60px;
  margin-left: /*-97*/
          0;
  padding: 0 39px;
  .box_wrapp {
    max-width: 915px;
    display: inline-block;
  }
}

.page p {
  margin: 40px 0 10px 0;
  font-family: 'Minion Pro';
  font-size: 18px;
  color: #000;
  line-height: 1.39;
  letter-spacing: 0.9px;
}

.box_inst {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 85px;
  height: 65px;
  background: #ffffff;
  box-shadow: 0 2px 30px -11px #000000;
  text-align: center;
  z-index: 1;

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.main > .content .header .box_inst a img {
  width: 36px;
  height: 36px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.page ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  margin-left: 20px;
}

.page ul li:before {
  content: "- ";
}

.item .image img {
  width: 100%;
}

.item .info p {
  padding: 0;
  margin: 0;
}

.item .info h4 {
  margin-bottom: 40px;
}

.bg_cont p {
  margin: 20px 0 0 0;
}

.container_btn > div {
  padding: 0;
}

.wr_link {
  text-align: center;
  margin: 200px 0 100px 0;
}

.wr_link a {
  padding: 5px;
  text-decoration: underline;
}

.wr_link .black {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-family: "Myriad Pro", sans-serif;
  position: relative;
  &:before {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    background: #000000;
    transform: translateX(-50%);
    left: 50%;
    bottom: -15px;
  }
}

.copyright {
  color: #ffffff;
  transition: all .3s;
  font: 12px 'Century GothicBold', sans-serif;
  text-decoration: none;
}

.line {
  padding: 25px 0;
}

.wr_link .fa {
  font-size: 28px;
}

.con_img span {
  font-size: 36px;
  color: #747474;
  margin-left: 20px;
}

.con_img img {
  border-bottom: 23px solid #a3aab1;
  width: 100%;
}

.bg_cont p {
  width: 222px;
  font-size: 18px;
  color: #000000;
  letter-spacing: .7px;
  margin-top: 30px;
}

.bg_cont strong {
  color: #a3aab1;
  font-size: 34px;
  font-weight: normal;
}

.ty_block img {
  border-color: #d6ae7b;
}

.ty_block span {
  color: #d6ae7b;
}

.ty_cont strong {
  color: #d6ae7b;
}

.color_two span, .color_two strong {
  color: #4d5361;
}

.two-bg img {
  border-color: #60697e
}

.box_described h3 {
  font-size: 35px;
  color: #040404;
  line-height: 100px;
  font-family: Atia, sans-serif;
}

.box_described p {
  font-size: 18px;
  color: #000000;
  letter-spacing: .7px;
}

.plan h1 {
  font-family: inherit;
}

#modal_profile_image .modal-body img {
  max-height: 600px;
}

img.header-bg {
  display: block;
  max-height: 768px;
}

img.mob-header-bg {
  display: none;
}

.cast_modal {
  width: 740px;
  margin: 181px auto;
  a.modal_btn_close {
    width: 31px;
    height: 31px;
    position: relative;
    right: -45px;
    top: -45px;
    opacity: 1;
    z-index: 99999;
    &:before, &:after {
      position: absolute;
      content: "";
      width: 30px;
      height: 3px;
      background: #ffffff;
      top: 50%;
      transform: translateY(-50%);
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  .my_modal {
    border-radius: 0;
    padding: 31px 130px;
    position: relative;

    .modal-body {
      padding: 0;

      span {
        left: 201px;
        position: relative;
        font-family: Beauty;
        font-size: 43.5px;
        line-height: 1.14;
        letter-spacing: 2.2px;
        color: #feccde;
      }
      p {
        color: #e4dede;
        font-family: MinionPro;
        font-size: 16px;
      }
      form.form_modal {
        display: flex;
        margin-bottom: 10px;

        a.btn_mod {
          width: 212px;
          height: 56px;
          text-align: center;
          line-height: 56px;
          padding: 0;
          font-family: MinionPro;
          font-size: 20.5px;
          color: #262626;
          background-color: #feccde;
        }
        input[placeholder="Ваш номер телефона"]::-webkit-input-placeholder {
          font-family: MinionPro;
          color: #ffffff;
        }
        input[placeholder="Ваш номер телефона"]::-moz-placeholder {
          font-family: MinionPro;
          color: #ffffff;
        }
        input {
          outline: none;
          width: 292px;
          height: 56px;
          background-color: #ededed;
          border: none;
          font-size: 20.5px;
          color: #ffffff;
          font-family: MinionPro;
        }
      }
    }
    h5 {
      font-size: 24px;
      letter-spacing: 1.2px;
      font-family: MinionPro;
      color: #2b2b2c;
      margin-bottom: 30px;
    }
  }
}

//our services
.header {
  .user.white.our_ser {
    a {
      color: #2f2f2f;
      border-color: #2f2f2f;
    }
    a.link-tell {
      border: none;
    }
  }
  .wrapper_logo {
    position: absolute;
    top: 53px;
    left: 150px;
    .link-logo {
      display: block;

      .logo {
        width: 146px;
      }
    }
  }
}

.main .side_menu .height_box {
  height: 753px;
}

.container {

  .row {

    .col-lg-12 {
      padding: 0;
      .box_to {
        display: flex;
        justify-content: space-between;
        margin-bottom: 225px;
        &:last-child {
          margin-bottom: 0;
        }
        .box_img {
          padding-left: 6px;
          img {
            max-width: 580px;
          }
        }
        .box_product {
          max-width: 473px;

          span {
            display: inline-block;
            margin-bottom: 40px;
            position: relative;
            font-size: 25px;
            font-family: "Myriad Pro";
            &:before {
              position: absolute;
              content: "";
              bottom: -15px;
              left: 0;
              width: 95px;
              height: 2px;
              background: #000;
            }
          }
          p {
            margin-bottom: 120px;
            font: 18px MinionProRegular, sans-serif;
            line-height: 21px;
          }
          a.btn_price {
            font: 20px MinionProRegular, sans-serif;
            color: #404c31;
            border: solid 2px #373f48;
            border-radius: 0;
            padding: 15px 30px;
          }
        }
      }
      .wr_desc {
        margin-bottom: 77px;
        h1 {
          font-size: 25px;
          color: #2f2f2f;
          margin: 0 0 86px 0;
        }
        p {
          font: 18px MinionProRegular, sans-serif;
          margin-bottom: 30px;
          color: #000000;
        }
      }
    }
  }
}

//contacts
.main .side_menu {
  height: 768px;
}

.main .side_menu .closed.heid_ti {
  height: 100%;
}

.mr_top {
  margin-top: 67px;
  background: #fff;
  padding-top: 67px;
  .row {
    .box_contaks {

      form {

        textarea {
          max-width: 504px;
          height: 218px;
          border: solid 1px #373f48;
          border-radius: 0;
          margin-bottom: 27px;
        }
        input {
          outline: none;
          border: none;
          border-bottom: 1px solid #3b3d41;
          width: 386px;
          padding: 16px 3px;
          margin-bottom: 42px;
          color: #feccde;
          font-size: 18px;
        }
        input::placeholder {
          color: rgba(38, 38, 38, 0.22);
        }
        p {
          color: rgba(38, 38, 38, 0.24);
          margin: 17px 0;
        }
        button {
          display: block;
          margin: 0 auto;
          width: 240px;
          height: 64px;
          background-color: #dcdcdc;
          color: #fff;
          font-size: 20px;
          border: none;
        }
      }
      &:first-child .box_for span {
        display: block;
      }
      h3 {
        font-family: Myriad Pro, sans-serif;
        font-size: 24px;
        color: #2f2f2f;
        margin-bottom: 80px;
      }
      .box_for {
        font-family: MinionProRegular, sans-serif;
        color: #2f2f2f;
        margin-bottom: 35px;

        span {
          font-size: 19.5px;
          font-weight: bold;
          line-height: 1.9;
        }
        p {
          font-size: 19.5px;
          margin-left: 8px;
        }
        a.btn {
          font: 19px MinionPro-Bold, SansSerif;
          font-weight: bold;
          width: 102px;
          display: block;
          line-height: 1.3;
          color: inherit;
          margin-bottom: 10px;
          padding: 0;
          border-radius: 0;
          border-bottom: 1px solid #2f2f2f;
        }
      }
    }
  }
}

//why we
.section_icon {

  h2 {
    margin: 0 auto;
    max-width: 591px;
    font: 24px MinionProRegular, sans-serif;
  }

  .cont_usl {
    max-width: 975px;
    padding: 85px 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;

    .box_cen {
      margin: 0 35px 35px;
    }
    div {
      height: 188px;
      max-width: 210px;
      margin: 0 17px 35px;
      vertical-align: top;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
        display: block;
        margin: auto;
      }
      span {
        color: #2f2f2f;
        font: 18.5px MinionProRegular, sans-serif;
      }
    }
  }
}

//slider
.slid_master {
  position: relative;

  .slick-slide {
    width: 400px;
  }
  .slick-track {
    padding: 15px 0;
  }
  .slick-arrow, .slick-arrow {
    position: absolute;
    top: 192px;
    width: 45px;
    height: 53px;
    background: transparent;
    border: none;
    color: transparent;
    outline: none;
    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 50%;
      display: inline-block;
      height: 100%;
      width: 100%;
    }
  }
  .slick-prev {
    left: -66px;
    background: url("../../dist/img/slider_button_left.png") no-repeat;
    transform: translateX(-50%);
  }
  .slick-next {
    right: -66px;
    background: url("../../dist/img/slider_button_right.png") no-repeat;
    transform: translateX(50%);
  }

  .slider_box {

    img {
      width: 100%;
    }
    &:hover .box_content p {
      opacity: 1;
    }
    &:hover {
      box-shadow: 0 9px 70px -32px #000;
    }
    .box_content {
      padding: 34px 34px 60px;
      height: 319px;
      p {
        opacity: 0;
        transition: all .3s;
      }
      strong {
        font: 19.5px MyriadPro-Regular, sans-serif;
        letter-spacing: 1px;
      }
      span {
        color: #a9a9a9;
        font: 19.5px MyriadPro-Regular, sans-serif;
        font-weight: bold;
        display: block;
        margin-bottom: 25px;
      }
      .box_text {
        overflow: overlay;
        height: 150px;
        display: none;
        p {
          font: 18px MyriadPro-Regular, sans-serif;
          margin: 0;
          padding-right: 15px;
        }
      }
      p {
        font: 18px MyriadPro-Regular, sans-serif;
        margin: 0;
        padding-right: 15px;
      }
    }
    &:hover .box_text {
      display: block;
    }
  }
}

//recommendations
.h_recom {
  margin: 76px 0 146px;
}

.container {
  .row {
    .col-lg-12 {
      .wr_desc.mar_n {
        margin-bottom: 0;
        .recomm_content {

          span.h_puncht {
            font: 24px MinionPro-Regular, sans-serif;
            color: #000000;
            margin-bottom: 45px;
            display: block;
          }
          p {
            margin: 0 25px 72px;
          }
          & p:last-child {
            margin-bottom: 0;
          }
          ul {
            margin-bottom: 80px;
            padding-left: 169px;
            li {
              list-style: none;
              font: 18px MinionPro-Regular, sans-serif;
              color: #000000;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .wr_desc {
    padding: 0 140px;
  }
  .container .row .col-lg-12 .box_to {
    padding: 0 46px;
  }
}

@media only screen and (max-width: 1024px) {
  .page .box_wrapp {
    max-width: 630px;
  }
  //our services
  .container .row .col-lg-12 .box_to .box_img img {
    width: 100%;
  }
  .container .row .col-lg-12 .box_to {
    padding: 0 75px;
  }
  .container .row .col-lg-12 .box_to .box_product span {
    margin-bottom: 15px;
    font-size: 25px;
  }
  .container .row .col-lg-12 .box_to .box_product span:before, .wr_link .black:before {
    bottom: -4px;
  }
  .container .row .col-lg-12 .box_to .box_product p {
    margin-bottom: 36px;
  }
  .container .row .col-lg-12 .box_to {
    margin-bottom: 77px;
  }
  .container .row .col-lg-12 .box_to .box_product a.btn_price {
    padding: 13px 28px;
  }
  .wr_link {
    margin: 75px 0 75px;
  }
  .main .side_menu .height_box {
    height: 735px;
  }
  .mr_top .row .box_contaks {
    padding-left: 70px;
  }
  .slid_master .slider_box .box_content p{
    opacity: 1;
  }
  .slid_master .slider_box .box_content .box_text{
    display: block;
  }
}

@media only screen and (max-width: 980px) {
  img.header-bg {
    display: none;
  }
  img.mob-header-bg {
    display: block;
  }
  .header .user {
    right: 50%;
    transform: translateX(50%);
    top: 203px;
  }
  .main .side_menu {
    width: 100%;
    height: 82px;
  }
  .main .side_menu .opened {
    width: 100%;
  }
  .main .side_menu .button.tog {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .main .side_menu .closed{
    width: 100%;
    left: 0;
    top: -700px;
  }
  .main .side_menu .closed.active {
    top: 0;
    height: 700px;
  }
  .header.mob_head{
    margin-bottom: 245px;
  }
  .container .row .col-lg-12 .wr_desc h1{
    margin: 0 0 30px;
  }
  .header .wrapper_logo{
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
  }
  .main .side_menu .closed>ul{
    margin: 91px auto 0;
  }
  //our services
  .wr_desc {
    padding: 0 30px;
  }
  .container .row .col-lg-12 .box_to .box_product span {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: normal;
  }
  .container .row .col-lg-12 .box_to .box_product span:before, .wr_link .black:before {
    bottom: -4px;
  }
  .container .row .col-lg-12 .box_to .box_product p {
    line-height: 16px;
    font-size: 16px;
    margin-bottom: 16px;
  }
  .container .row .col-lg-12 .box_to .box_product a.btn_price {
    padding: 5px 13px;
    font-size: 17px;
  }
  .wr_link {
    margin: 75px 0 75px;
  }
  .container .row .col-lg-12 .box_to {
    margin-bottom: 85px;
  }
  .main .side_menu .height_box {
    height: 688px;
  }
  .cast_modal a.modal_btn_close {
    right: 18px;
    top: 230px;
    &:before, &:after {
      background: #feccde;
    }
  }
  .cast_modal {
    width: 90%;
  }
  .mr_top .row .box_contaks {
    padding-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  .container .row .col-lg-12 .wr_desc {
    margin: 0 auto 77px;
  }
  .mob_head {
    min-height: 170px;
  }
  .container .row .col-lg-12 .wr_desc h1 {
    margin: 0 0 28px;
  }
  .main .side_menu .height_box {
    height: 468px;
  }
  .cast_modal {
    width: 100%;
  }
  .mr_top .row .box_contaks {
    text-align: center;
  }
  .mr_top .row .box_contaks .box_for a.btn {
    margin: 0 auto 10px;
  }
  .mr_top .row .box_contaks form textarea {
    margin: 0 auto 27px;
  }
  .header .wrapper_logo {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
  .container .row .col-lg-12 .wr_desc.mar_n .recomm_content ul{
    padding-left: 40px;
  }
}

@media only screen and (max-width: 550px) {
  .cast_modal .my_modal .modal-body span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -85px;
    white-space: nowrap;
  }
  .cast_modal .my_modal .modal-body form.form_modal {
    display: block;
    margin-bottom: 80px;
  }
  .cast_modal .my_modal .modal-body form.form_modal input {
    margin: 0 auto 53px;
    display: block;
  }
  .cast_modal .my_modal .modal-body p {
    top: 70px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .cast_modal .my_modal .modal-body form.form_modal a.btn_mod {
    margin: 0 auto 20px;
    display: block;
  }
  .cast_modal a.modal_btn_close {
    top: 315px;
  }
  .cast_modal .my_modal {
    padding: 31px 60px;
  }
}

@media only screen and (max-width: 425px) {
  .main .side_menu .opened .title {
    font-size: 16px;
  }
  .main .side_menu .height_box {
    height: 748px;
  }
  .header .wrapper_logo .link-logo .logo {
    width: 104px;
  }
  .header .user {
    z-index: 0;
  }
  .container .row .col-lg-12 .box_to {
    padding: 0;
  }
  .container .row .col-lg-12 .box_to {
    display: table;
  }
  .container .row .col-lg-12 .wr_desc {
    margin: 0 auto 27px;
    display: block;
  }
  .box_inst {
    z-index: 1;
  }
  .box_img {
    padding: 0;
    margin-bottom: 42px;
  }
  .container .row .col-lg-12 .box_to .box_product span {
    font-size: 25px;
  }
  .container .row .col-lg-12 .box_to .box_product {
    padding: 0 39px;
    display: table-footer-group;
  }
  .container .row .col-lg-12 .box_to .box_product p {
    margin-bottom: 40px;
    padding: 0 39px;
  }
  .container .row .col-lg-12 .box_to .box_product span {
    margin-left: 39px;
  }
  .container .row .col-lg-12 .box_to .box_product a.btn_price {
    display: table;
    margin: 0 auto;
  }
  .container .row .col-lg-12 .box_to {
    margin-bottom: 40px;
  }
  .container .row .col-lg-12 .box_to .box_product a.btn_price {
    padding: 13px 39px;
  }
  .mr_top .row .box_contaks form input {
    width: 300px;
  }
  .mr_top .row .box_contaks h3 {
    width: 131px;
    margin: 0 auto 70px;
  }
}
@media only screen and (max-width: 375px){
  .cast_modal .my_modal .modal-body form.form_modal input{
    width: 212px;
  }
}